<h1><%= @surgery.title %></h1>
<h3> Operating Room: <%= @surgery.operating_room_number %></h3>

<p> Doctors on This Surgery: <%= @surgery.count_of_doctors %> </p><br>

<h4> Other Surgeries On This Day: <%=  %> </h4>
